{% extends 'base.html' %} {% block content %}

<div class="container">
  <br />
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{product.image.url}}"
          class="img-fluid rounded-start"
          alt="Product Image"
        />
        {% if product.isSale%}
        <div
          class="badge bg-dark text-white position-absolute"
          style="top: 0.5rem; left: 0.5rem"
        >
          Sale
        </div>
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text">
            {% if product.isSale%}
            <!-- Sale Price -->
            <span class="text-muted text-decoration-line-through"
              >£{{product.price}}</span
            >

            {{ product.salePrice}} {% else %}
            <!-- No Sale Price -->
            £{{product.price}} {% endif %}
          </p>
          <div class="container">
            <a href="{% url 'home'%}" class="btn btn-secondary"
              >< Back to Home</a
            >
            |
            <button
              type="button"
              value="{{product.id}}"
              id="addCart"
              href="#"
              class="btn btn-secondary"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Check if add to cart button pressed
  $(document).on("click", "#addCart", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'cartAdd' %}",
      data: {
        productId: $("#addCart").val(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },

      success: function (json) {
        console.log(json);
      },
      error: function (xhr, errmsg, err) {},
    });
  });
</script>

{% endblock %}
