{% extends 'base.html' %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Billing Info</h1>
      <p class="lead fw-normal text-white-50 mb-0">Enter your payment info</p>
    </div>
  </div>
</header>
<br />
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">Order Summary</div>
        <div class="card-body">
          {% for product in cartProducts %} {{ product.name }}: 
          {% if product.isSale %}
          <span class="text-muted text-decoration-line-through"
            >£{{product.price}}</span
          >
          ${{ product.salePrice }} {% else %} ${{ product.price }} {% endif %}

          <br />
          <small
            >Quantity: {% for key, value in quantities.items %} {% if key == product.id|slugify %} {{ value }} {% endif %} {% endfor %}</small
          >
          <br /><br />

          {% endfor %} Total: ${{ total }}
          <br />
          <br />
          <a
            href="{% url 'cartSummary' %}"
            class="btn btn-sm btn-outline-secondary"
            >Update Products</a
          >
          <br />
        </div>
      </div>
      <br />
      <div class="card">
        <div class="card-header">Shipping Info</div>
        <div class="card-body">
          
            Name: {{ shippingInfo.shippingFullName }} <br/>
            Email: {{ shippingInfo.shippingEmail }} <br/>
            Address 1: {{ shippingInfo.shippingAddress1 }} <br/>
            Address 2: {{ shippingInfo.shippingAddress2 }} <br/>
            City: {{ shippingInfo.shippingCity }} <br/>
            County: {{ shippingInfo.shippingCounty }} <br/>
            Postcode: {{ shippingInfo.shippingPostcode }} <br/>
            Country: {{ shippingInfo.shippingCountry }} <br/>
            <br/>
            <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">Update Shipping</a>
          
        </div>
      </div>
      <br />
      <br />
      <div class="card">
        <div class="card-header">Billing Info</div>
        <div class="card-body">
          
            
            
          
        </div>
      </div>

      <button type="submit" class="btn btn-secondary">
        Pay Now
      </button>
      <br />
      <br />
    </div>
  </div>
</div>

{% endblock %}
