{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <div class="card">
          <div class="card-header">Order - {{order.id}} £{{order.amountPaid}}</div>
          <div class="card-body">
            Email: {{ order.email }} <br/>
            
            {% if order.dateShipped %}
            Date Shipped: {{ order.dateShipped }} <br/>
            {% else %}
            Date Ordered: {{ order.dateOrdered }} <br/>
            {% endif %}

            {{ order.fullName }} <br/>
            <pre><{{ order.shippingAddrress }}></pre> <br/>
            {% for item in items %}
            
            {{item.product}} - {{ item.quantity }} - £{{ item.price }}<br/>

            {% endfor %}
            
            {% if not order.shipped %}
              
            <form method="POST" action="">
              {% csrf_token %}
              <input type="hidden" name="shippingStatus" value="true">
              <button type="submit" class="btn btn-success">Mark as Shipped</button>
            </form>

            {% else %}
            <!-- Not Shipped -->
            <form method="POST" action="">
              {% csrf_token %}
              <input type="hidden" name="shippingStatus" value="false">
              <button type="submit" class="btn btn-danger">Mark as not Shipped</button>
            </form>
              {% endif %}
            
          </div>
        </div>
        <a href="{% url 'home' %}" class="btn btn-primary">Back to home</a>

      </div>
    </center>
  </div>
</div>
{% endblock %}
